<table class="table table-striped">
    {% include 'work_time_tracker/table_view/parts/headers.html.twig' %}
    <tbody>
    {% for week, days in params.dates %}
        {% include 'work_time_tracker/table_view/parts/month/week.html.twig' with { 
            dates: days, weekNumber: week
        } only %}
    {% endfor %}
    </tbody>
</table>
