<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
    </head>
    <body>
        
{% set route_name = app.request.attributes.get('_route') %}
{% set path_attributes = app.request.attributes %}
{% set home_routes = ['app_homepage', 'app_home'] %}
{% set worktime_routes = ['worktime_tracker', 'worktime_tracker_create', 'worktime_tracker_display', ] %}

        <header>
            {% include 'top_bar/_top.html.twig' %}
            {% include 'top_bar/_work.html.twig' %}
            {% block topbar_work %}{% endblock %}
            {% include 'top_bar/_bottom.html.twig' %}
        </header>
        <div class="container-fluid h100">
            <div class="row">
                {% include 'sidebar_menu/_top.html.twig' %}
                {% block sidebar_free %}{% endblock %}
                {% include 'sidebar_menu/_bottom.html.twig' %}
                <div class="col-10">
                    <div id="alerts">
                        <div class="row alerts-danger-zone let-hidden" id="alerts-danger-model">
                            <div class="col let-hidden" id="alert-danger-zone">
                                <div class="alert alert-danger alert-dismissible fade let-hidden">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <span class="message">
                                        {% block alert_danger %}{% endblock %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row alerts-warning-zone let-hidden" id="alerts-warning-model">
                            <div class="col let-hidden" id="alert-warning-zone">
                                <div class="alert alert-warning alert-dismissible fade let-hidden">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <span class="message">
                                        {% block alert_warning %}{% endblock %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row alerts-success-zone let-hidden" id="alerts-success-model">
                            <div class="col let-hidden" id="alert-success-zone">
                                <div class="alert alert-success alert-dismissible fade let-hidden">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <span class="message">
                                        {% block alert_success %}{% endblock %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row alerts-info-zone let-hidden" id="alerts-info-model">
                            <div class="col let-hidden" id="alert-info-zone">
                                <div class="alert alert-info alert-dismissible fade let-hidden">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <span class="message">
                                        {% block alert_info %}{% endblock %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
        {% block pagescripts %}
        {% endblock %}
    </body>
</html>
